<?php
return array(
    'mwadmin' => array(
        'css' => array(
            'use_cdn' => false
        ),
        'js' => array(
            'use_cdn' => false
        ),
        'brand_name' => 'Brand name'
    )
);